{% extends 'base_website.html' %}
<meta http-equiv="refresh" content="1">
{% block content %}

<body data-spy="scroll" data-target=".fixed-top">

    <!-- Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>


    <!-- Header -->
    <header id="header" class="ex-header">
        <div class="container"  style="margin-top: -100px;">
            <div class="row">
                <div class="col-md-12">
                    <center><h2 style="color: white; background-color: #40006e;">Privacy & Policy</h2></center>
                </div> 
            </div> 
        </div> 
        <style>
            h2 {
                padding: 20px 10px;
                min-width: 200px;
                max-width: 550px;
                border-radius: 10px;
            }
        </style>
    </header>
   


    <!-- Privacy Content -->
    <div class="ex-basic-2" style="padding: 40px; margin-top: -80px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-15">
                    <div class="text-container">
                        <h3>Privacy Policy for ExaPro</h3>
                        <p>At ExaPro, accessible from <a href="#">ExaPro</a> one of our main
                            priorities is the privacy of our visitors. This Privacy Policy document contains types of
                            information that is collected and recorded by ExaPro and how we use it.

                            If you have additional questions or require more information about our Privacy Policy, do
                            not hesitate to contact us.

                            This Privacy Policy applies only to our online activities and is valid for visitors to our
                            website with regards to the information that they shared and/or collect in ExaPro. This
                            policy is not applicable to any information collected offline or via channels other than
                            this website. .</p>
                        <div class="row">
                
                        </div>
                    </div> 

                    <div class="text-container">
                        <h3>How we use your information</h3>
                        <p>We use the information we collect in various ways, including to:</p>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-unstyled li-space-lg indent">
                                    <li class="media">
                                        <i class="fas fa-square"></i>
                                        <div class="media-body">Provide, operate, and maintain our website</div>
                                    </li>
                                    <li class="media">
                                        <i class="fas fa-square"></i>
                                        <div class="media-body">Improve, personalize, and expand our website</div>
                                    </li>
                                    <li class="media">
                                        <i class="fas fa-square"></i>
                                        <div class="media-body">Understand and analyze how you use our website</div>
                                    </li>
                                    <li class="media">
                                        <i class="fas fa-square"></i>
                                        <div class="media-body">Other optional information as part of your account
                                            profile</div>
                                    </li>
                                    <li class="media">
                                        <i class="fas fa-square"></i>
                                        <div class="media-body">Develop new products, services, features, and
                                            functionality</div>
                                    </li>
                                    <li class="media">
                                        <i class="fas fa-square"></i>
                                        <div class="media-body">Communicate with you, either directly or through one of
                                            our partners, including for
                                            customer service, to provide you with updates and other information relating
                                            to the
                                            website, and for marketing and promotional purposes</div>
                                    </li>
                                    <li class="media">
                                        <i class="fas fa-square"></i>
                                        <div class="media-body">Send you emails</div>
                                    </li>
                                    <li class="media">
                                        <i class="fas fa-square"></i>
                                        <div class="media-body">Find and prevent fraud</div>
                                    </li>
                                </ul>
                            </div> 
                        </div> 

                        <br><br>
                        <div class="text-container">
                            <h3>Consent</h3>
                            <p class="mb-5">By using our website, you hereby consent to our Privacy Policy and agree to
                                its
                                terms. For our Terms and Conditions, please visit the <a
                                    href="{% url 'terms-conditions' %}">Terms
                                    & Conditions</a></p>
                        </div> 

                        <div class="text-container">
                            <h3>Information we collect</h3>
                            <p>The personal information that you are asked to provide, and the reasons why you are asked
                                to
                                provide it, will be made clear to you at the point we ask you to provide your personal
                                information.
                            </p>
                            <p>If you contact us directly, we may receive additional information about you such as your
                                name, email address, phone number, the contents of the message and/or attachments you
                                may
                                send us, and any other information you may choose to provide.

                                When you register for an Account, we may ask for your contact information, including
                                items
                                such as name, company name, address, email address, and telephone number.</p>
                        </div> 

                        <div class="text-container">
                            <h3>Cookies</h3>
                            <p class="mb-5">Like any other website, ExaPro uses 'cookies'. These cookies are used to
                                store
                                information including visitors' preferences, and the pages on the website that the
                                visitor
                                accessed or visited. The information is used to optimize the users' experience by
                                customizing our web page content based on visitors' browser type and/or other
                                information.
                            </p>
                        </div>

                        <div class="text-container">
                            <h3>Third Party Privacy Policies</h3>
                            <p class="mb-5">ExaPro's Privacy Policy does not apply to other advertisers or websites.
                                Thus,
                                we are advising you to consult the respective Privacy Policies of these third-party ad
                                servers for more detailed information. It may include their practices and instructions
                                about
                                how to opt-out of certain options.

                                You can choose to disable cookies through your individual browser options. To know more
                                detailed information about cookie management with specific web browsers, it can be found
                                at
                                the browsers' respective websites.
                            </p>
                        </div> 

                        <div class="text-container">
                            <h3>Children's Information</h3>
                            <p class="mb-5">Another part of our priority is adding protection for children while using
                                the
                                internet. We encourage parents and guardians to observe, participate in, and/or monitor
                                and
                                guide their online activity.

                                ExaPro does not knowingly collect any Personal Identifiable Information from children
                                under
                                the age of 13. If you think that your child provided this kind of information on our
                                website, we strongly encourage you to contact us immediately and we will do our best
                                efforts
                                to promptly remove such information from our records.
                            </p>
                        </div>
                        <center>
                            <a class="btn-outline-reg back" href="/">
                                BACK </a>
                        </center>
                    </div>
                </div> 
            </div> 
        </div>
    </div> 



    <!-- Footer -->
    <div class="footer" style="padding: 15px;"">
        <div class=" container">
        <hr><br>
        <div class="row">
            <div class="col-md-4">

                <div class="footer-col">
                    <h4>About ExaPro</h4>
                    <p>We're passionate about offering some of the best facilities for online assesments</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-col middle">
                    <h4>Important Links</h4>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Read our <a class="turquoise"
                                    href="{% url 'terms-conditions' %}">Terms
                                    & Conditions</a>
                            </div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Read our <a class="turquoise">
                                    <a class="turquoise" href="{% url 'privacy-policy' %}">privacy
                                        policy</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-col last">
                    <h4>Social Media</h4>
                    <span class="fa-stack">
                        <a href="https://www.facebook.com/exapro.gpa.7">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-facebook-f fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="https://twitter.com/ExaproO">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-twitter fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=exapro.official@gmail.com">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-google-plus-g fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="https://www.instagram.com/exapro.official/">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-instagram fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="https://www.linkedin.com/in/exa-pro-aaba981ba/">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-linkedin-in fa-stack-1x"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- Copyright -->
    <div class="copyright" style="margin-top: -40px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright © 2020 <a href="#header">ExaPro</a> - All rights
                        reserved</p>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}